langchain>=0.3.27
langchain-core>=0.3.27
langchain-text-splitters>=0.2.0
langchain-google-genai>=2.1.12
langchain-community>=0.3.27
google-generativeai>=0.8.5
chromadb>=1.0.15
deepeval>=3.5.6
pytest>=8.4.1
pytest-json-report>=1.5.0
pyyaml>=6.0.2
numpy>=2.0.2
scipy>=1.13.1
